<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Add storage permissions query -->
    <queries>

        <!-- Query to check if a document can be selected -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="*/*" />
        </intent>
        <!-- Query to check if the app has permission to access all files -->
        <intent>
            <action android:name="android.intent.action.MANAGE_ALL_FILES_ACCESS_PERMISSION" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoU"
        tools:targetApi="31">
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ViewChatsActivity"
            android:exported="false" />
        <activity
            android:name=".ShowCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPdfAdminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".ViewUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllPostActivity"
            android:exported="false" />
        <activity
            android:name=".UploadPostActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".UploadDocumentActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
    </application>

</manifest>